@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



/* h1 h2 h3 {
  display: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("/assets/background-bolinhas.webp"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

/* Cabeçalho */
.cabecalho-principal {
  background-color: #273345;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icone-sup {
  height: 80px;
  width: auto;
}

.icone-sup:hover {
  opacity: 0.5;
}

.redes-topo {
  display: flex;
  gap: 1.5rem;
}

.redes-topo i {
  font-size: 2.5rem;
  color: white;
  transition: color 0.3s ease;

}

.redes-topo i:hover {
  opacity: 0.5;

}

/* Conteúdo Principal */
.conteudo-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* padding-top: 80px; */
  padding-bottom: 2rem;
}

.conteudo-destaque {
  position: relative;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 70vh;
  overflow: hidden;
}

.developer-digital {
  color: #273345;
  font-family: "Kode Mono", Helvetica;
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
  line-height: normal;
  /* left: -10rem; */
  /* top: 1.5rem; */
}

.menu-lateral {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #273345;
  z-index: 5;
  margin-top: 10rem;
  align-self: center;
  justify-content: left;
  flex-wrap: wrap;
  left: 280px;
}

.menu-lateral a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.menu-lateral a::after,
.menu-lateral a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0e0244, #737575);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.menu-lateral a::before {
  top: -5px;
  transform-origin: left;
}

.menu-lateral a:hover::after,
.menu-lateral a:hover::before {
  transform: scaleX(1);
}

.botao-menu {
  /* background-color: #f39c12; */
  /* color: white; */
  perspective: 300px;
  transform-style: preserve-3d;
}

.botao-menu:hover {
  color: #c5caad;
  animation: rotate3d 0.7s;
}

@keyframes rotate3d {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

.perfil-destaque {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding-right: 25%;
  /* width: 100%; */
}

.foto-destaque {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  margin-bottom: -3rem;
  left: 45rem;
}

.secao-destaque {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px -5px 15px 10px rgba(0, 0, 0, 0.05);
  background-color: #efeae6;
  bottom: 0;
  height: auto;
  z-index: 0;
  justify-content: space-around;
  align-items: center;

}

.titulo-destaque {
  color: #808a92;
  font-family: "Kode Mono", Helvetica;
  font-size: 3.5rem;
  font-weight: 700;
  left: -42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  padding: 0.5rem;
  text-align: right;
  /* top: 964px; */
  /* margin-top: 250px; */
  transform: rotate(-90.00deg);
  /* width: 254px; */
  z-index: 5;
}

.cards-destaque {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 20%;
  min-width: 280px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 45vh; */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
}

.card img {
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card a {
  text-decoration: none;
}

.texto-card {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
  text-decoration: none;
}

/* Rodapé */
.main-footer {
  background-color: #273345;
  color: white;
  padding: 1rem 2rem;
  margin-top: auto;
  width: 100%;
  height: 11vh;
  position: relative;
}

.footer-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.1rem;
}

.elipse {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  background-color: #273345;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.elipse img {
  width: 3.5rem;
  height: auto;
}

.elipse img:hover {
  transform: scale(1.1);
}

.vilander-costa {
  font-size: 1.1rem;
}

.infoContato {
  text-align: right;
  font-size: 1rem;
  line-height: 1.4;
}

.infoContato a {
  color: #fff;
  text-decoration: none;
}

.whatsapp-float {
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 1000;
  width: 80px;
  height: 80px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  text-decoration: none;
  z-index: 100;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float i {
  font-size: 2.5rem;
  color: white;
}

/* Media queries para responsividade */

/* Tamanhos de tela comuns
Móvel: 360 x 640
Móvel: 375 x 667
Móvel: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tabuleiro: 768 x 1024
Portátil: 1366 x 768
Laptop ou desktop de alta resolução: 1920 x 1080 */

@media (max-width: 1496px) {
  .conteudo-destaque{
    padding: auto;
  }
  
  .developer-digital {
    left: -15rem;
  }

  .menu-lateral {
    left: 2rem;
    margin-top: 8rem;
  }

  .foto-destaque {
    left: 23rem;
  }
}

@media (max-width: 1366px) {

  .developer-digital {
    left: -17rem;
  }

  .menu-lateral {
    left: 4rem;
    margin-top: 8rem;
  }

  .foto-destaque {
    left: 261px;
  }

  .titulo-destaque {
    position: static;
    transform: rotate(0.00deg);
  }

  .cards-destaque {
    flex-wrap: nowrap;

  }

  .main-footer {
    height: auto;
  }

  .footer-conteudo {
    padding: 0.1em;
  }
}

@media (max-width: 1024px) {

  .developer-digital {
    left: -17rem;
  }

  .menu-lateral {
    left: 4rem;
    margin-top: 8rem;
  }

  .foto-destaque {
    left: 261px;
  }

  .titulo-destaque {
    position: static;
    transform: rotate(0.00deg);
  }

  .cards-destaque {
    flex-wrap: nowrap;

  }

  .main-footer {
    height: auto;
  }

  .footer-conteudo {
    padding: 0.1em;
  }
}

@media (max-width: 910px) {
  .developer-digital {
    left: -10rem;
  }

  .cards-destaque {
    flex-wrap: wrap;
  }

  .infoContato {
    z-index: 100;
  }

  .vilander-costa {
    z-index: 100;
  }
}

@media (max-width: 845px) {
  .developer-digital {
    left: -7rem;
  }

  .infoContato {
    z-index: 100;
  }

  .vilander-costa {
    z-index: 100;
  }
}

@media (max-width: 785px) {
  .foto-destaque {
    left: 12rem;
    max-width: 800px;
    top: 2rem;
  }

  .developer-digital {
    left: -6rem;
    font-size: 3.8rem;
    padding-bottom: 4rem;
  }

  .elipse {
    width: 4rem;
    height: 4rem;
    top: -1rem;
  }

  .elipse img {
    width: 2.5rem;
  }

  .infoContato {
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
  }

  .vilander-costa {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .foto-destaque {
    left: 10rem;
    max-width: 800px;
    top: 2rem;
  }

  .developer-digital {
    left: -6rem;
    font-size: 3.5rem;
    padding-bottom: 4rem;
  }

  .elipse {
    width: 4rem;
    height: 4rem;
    top: -1rem;
  }

  .elipse img {
    width: 2.5rem;
  }

  .infoContato {
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
  }

  .vilander-costa {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }
}

@media (max-width: 600px) {
  .foto-destaque {
    left: 10rem;
    max-width: 600px;
  }

  .developer-digital {
    left: -6rem;
    font-size: 2.5rem;
    padding-bottom: 4rem;
  }

  .elipse {
    width: 4rem;
    height: 4rem;
    top: -1rem;
  }

  .elipse img {
    width: 2.5rem;
  }

  .infoContato {
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
  }

  .vilander-costa {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }

}

@media (max-width: 480px) {
  .redes-topo i {
    font-size: 1.5rem;
  }

  .icone-sup {
    height: 40px;

  }

  .developer-digital {
    font-size: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    position: static;
    margin-top: 1rem;
  }

  .foto-destaque {
    width: 125%;
    max-width: 25rem;
    left: 7rem;
  }

  .conteudo-principal {
    padding-top: 1px;
    margin-top: -3rem;

  }

  .conteudo-destaque {
    align-items: center;
    text-align: center;
    min-height: 60vh;
  }

  .menu-lateral {
    position: static;
    flex-direction: column;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    align-items: center;
    margin-top: 2rem;
  }

  .menu-lateral a {
    color: #fff;
    width: 15rem;
    text-align: center;
  }

  .botao-menu {
    background-color: #273345;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
  }

  .titulo-destaque {
    position: static;
    transform: rotate(0.00deg);
  }

  .card {
    width: 90%;
    height: auto;

  }

  .cards-destaque {
    flex-wrap: wrap;
  }

  .card img {
    max-width: 100%;
    height: 150px;
  }

  .texto-card {
    font-size: 0.9rem;
  }

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 15px;
  }

  .whatsapp-float i {
    font-size: 1.8rem;
  }


  .elipse {
    top: -1rem;
    width: 4rem;
    height: 4rem;
  }

  .elipse img {
    width: 2rem;
    height: auto;
  }

  .footer-conteudo {
    flex-direction: column;
    text-align: center;
    gap: 0.1rem;
  }

  .main-footer {
    padding: 1rem;
    margin-top: auto;
    width: 100%;
    height: auto;
  }

  .infoContato {
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
  }

  .vilander-costa {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }
}

@media (max-width: 375px) {
  .redes-topo i {
    font-size: 1.5rem;
  }

  .icone-sup {
    height: 40px;

  }

  .developer-digital {
    font-size: 1.9rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    position: static;
    margin-top: 1rem;
  }

  .foto-destaque {
    width: 145%;
    max-width: 35rem;
    left: 6rem;
    top:0.1rem;
  }

  .conteudo-principal {
    padding-top: 1px;
    margin-top: -3rem;

  }

  .conteudo-destaque {
    align-items: center;
    text-align: center;
    min-height: 60vh;
  }

  .menu-lateral {
    position: static;
    flex-direction: column;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    align-items: center;
    margin-top: 2rem;
  }

  .menu-lateral a {
    color: #fff;
    width: 15rem;
    text-align: center;
  }

  .botao-menu {
    background-color: #273345;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
  }

  .titulo-destaque {
    position: static;
    transform: rotate(0.00deg);
  }

  .card {
    width: 90%;
    height: auto;

  }

  .cards-destaque {
    flex-wrap: wrap;
  }

  .card img {
    max-width: 100%;
    height: 150px;
  }

  .texto-card {
    font-size: 0.9rem;
  }

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 15px;
  }

  .whatsapp-float i {
    font-size: 1.8rem;
  }


  .elipse {
    top: -1rem;
    width: 4rem;
    height: 4rem;
  }

  .elipse img {
    width: 2rem;
    height: auto;
  }

  .footer-conteudo {
    flex-direction: column;
    text-align: center;
    gap: 0.1rem;
  }

  .main-footer {
    padding: 1rem;
    margin-top: auto;
    width: 100%;
    height: auto;
  }

  .infoContato {
    text-align: center;
    font-size: 0.7rem;
    z-index: 100;
  }

  .vilander-costa {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }
}

.menu-superior {
  margin: 0;
  padding: 0;
}